* {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  font-family: 'Slabo 27px', serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-10rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(10rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes moveinbottom {
  0% {
    opacity: 0;
    transform: translateY(10rem); }
  100% {
    opacity: 1;
    transform: translateY(0rem); } }

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  display: flex;
  flex-flow: column; }
  .heading-primary-primary--main {
    display: block;
    font-size: 4rem;
    font-family: 'Amiri', serif;
    font-weight: 700i;
    animation-name: moveInLeft;
    animation-duration: 3s;
    /*a    nimation-delay: 1s;*/ }
  .heading-primary-primary--sub {
    display: block;
    font-size: 3rem;
    font-family: 'Aref Ruqaa', serif;
    animation-name: moveInRight;
    animation-duration: 3s; }

.heading-secondary {
  font-size: 3.5rem;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  display: inline-block;
  font-family: 'Amiri', serif;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all .2s; }
  .heading-secondary:hover {
    text-shadow: 0.2rem 0.2rem rgba(10, 10, 10, 0.2);
    animation: animate 8s linear infinite; }

@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

.heading-tertiary {
  font-size: 1.8rem;
  background-image: linear-gradient(90deg, #40E0D0, #FF8C00, #FF0080);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-size: 1.8rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 3rem; }

.u-centre-text {
  text-align: center; }

.u-margin-bottom-big {
  margin-bottom: 8rem; }

.u-margin-bottom-medium {
  margin-bottom: 4rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem; }

.section-about {
  background-color: rgba(255, 255, 255, 0.336);
  padding: 15rem 0;
  margin-top: -10rem; }

.section-features {
  height: 95vh;
  margin-top: -3.9rem;
  background-size: cover;
  background-position: center;
  padding: 20rem 0;
  transform: skewY(-3deg); }
  .section-features > * {
    transform: skewY(3deg); }

.section-tours {
  background-color: pink;
  padding: 15rem 0;
  margin-top: -3.9rem; }

.section-stories {
  padding: 10rem;
  background-image: url(../images/audrey-fretz-451115-unsplash.jpg);
  background-position: center;
  background-size: cover; }

.section-book {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, rgba(10, 230, 94, 0.719), rgba(0, 128, 0, 0.568)); }

.book {
  background-image: linear-gradient(105deg, rgba(255, 255, 255, 0.9) 0%, rgba(224, 106, 224, 0.9) 50%, transparent 50%), url(../images/gaetano-cessati-126246-unsplash.jpg);
  background-size: cover;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.15);
  height: 50rem; }
  .book__form {
    width: 50%;
    padding: 6rem; }

.btn-text:link, .btn-text:visited {
  color: rgba(47, 231, 47, 0.788);
  display: inline-block;
  font-size: 1.8rem;
  text-decoration: none;
  margin-top: 5rem;
  padding: 3px;
  border-bottom: 1px solid rgba(47, 231, 47, 0.788);
  transition: all .2s; }

.btn-text:hover {
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  color: #fff;
  box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 2rem rgba(10, 10, 10, 0.15);
  transform: translateY(0px); }

.btn {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translate(-50%, -20%);
  width: 20rem;
  height: 6rem;
  text-align: center;
  line-height: 6rem;
  color: #fff;
  font-size: 2.4rem;
  text-transform: uppercase;
  text-decoration: none;
  font-family: sans-serif;
  box-sizing: border-box;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 3rem;
  z-index: 1; }

.btn:hover {
  animation: animate 8s linear infinite; }

@keyframes animate {
  0% {
    background-position: 0%; }
  100% {
    background-position: 400%; } }

.btn:before {
  content: '';
  position: absolute;
  top: -0.5rem;
  left: -0.5rem;
  right: -0.5rem;
  bottom: -0.5rem;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #f441a5, #ffeb3b, #03a9f4);
  background-size: 400%;
  border-radius: 4rem;
  filter: blur(3rem);
  opacity: 0;
  transition: 0.5s; }

.btn:hover::before {
  filter: blur(3rem);
  opacity: 1;
  animation: animate 8s linear infinite; }

.composition {
  position: relative; }
  .composition__photo {
    width: 52%;
    border-radius: 2px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    position: absolute;
    z-index: 10;
    transition: all .2s;
    outline-offset: 2rem; }
    .composition__photo--p1 {
      top: -2rem;
      left: 0; }
    .composition__photo--p2 {
      top: 2rem;
      right: 0; }
    .composition__photo--p3 {
      top: 12rem;
      left: 20%; }
    .composition__photo:hover {
      outline: 1.5rem solid rgba(47, 231, 47, 0.788);
      transform: scale(1.05) translateY(-0.5rem);
      box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
      z-index: 20; }
  .composition:hover .composition__photo:not(:hover) {
    transform: scale(0.95); }

.card {
  perspective: 150rem;
  -moz-perspective: 150rem;
  position: relative; }
  .card__side {
    height: 25rem;
    transition: all 1s  ease;
    width: 100%;
    backface-visibility: hidden;
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.15); }
    .card__side--front {
      background-color: #fff; }
    .card__side--back {
      transform: rotateY(180deg);
      position: absolute;
      top: 0;
      left: 0; }
      .card__side--back-1 {
        background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
      .card__side--back-2 {
        background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
      .card__side--back-3 {
        background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
      .card__side--back-4 {
        background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
      .card__side--back-5 {
        background-image: linear-gradient(to left bottom, #668cff, #002db3); }
      .card__side--back-6 {
        background-image: linear-gradient(to left bottom, #668cff, #002db3); }
      .card__side--back-7 {
        background-image: linear-gradient(to left bottom, #668cff, #002db3); }
      .card__side--back-8 {
        background-image: linear-gradient(to left bottom, #668cff, #002db3); }
  .card:hover .card__side--front {
    transform: rotateY(-180deg); }
  .card:hover .card__side--back {
    transform: rotateY(0deg); }
  .card__picture {
    background-size: cover;
    background-position: center;
    height: 20rem;
    background-blend-mode: soft-light; }
    .card__picture--1 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000), url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--2 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000), url(../images/Calvin-Klein-Obsessed.jpg); }
    .card__picture--3 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000), url(../images/Davidoff-Cool-Water-Wave.jpg); }
    .card__picture--4 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000), url(../images/givenchi.png); }
    .card__picture--5 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3), url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--6 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3), url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--7 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3), url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--8 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3), url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--9 {
      background-image: url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--10 {
      background-image: url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--11 {
      background-image: url(../images/Tom-Ford-Anthracite-Noir.jpg); }
    .card__picture--12 {
      background-image: url(../images/Tom-Ford-Anthracite-Noir.jpg); }
  .card__heading {
    font-size: 2.8rem;
    font-weight: 800;
    text-decoration: uppercase;
    text-align: right;
    color: rgba(10, 10, 10, 0.788);
    position: absolute;
    right: 3rem;
    font-family: 'Dancing Script', cursive; }
  .card__prix {
    position: absolute;
    top: 1rem;
    right: 0;
    border-radius: 100%;
    width: 30%;
    text-align: center;
    overflow: hidden;
    color: black;
    height: 3rem;
    box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.15);
    font-family: 'Dancing Script', cursive;
    font-weight: 800; }
    .card__prix--1 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--2 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--3 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--4 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--5 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3); }
    .card__prix--6 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3); }
    .card__prix--7 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3); }
    .card__prix--8 {
      background-image: linear-gradient(to left bottom, #668cff, #002db3); }
    .card__prix--9 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--10 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--11 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
    .card__prix--12 {
      background-image: linear-gradient(to left bottom, #ff8080, #ff0000); }
  .card__cta {
    position: relative; }
    .card__cta--paragraph01 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph02 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph03 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph04 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph05 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph06 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph07 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph08 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph09 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph10 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph11 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }
    .card__cta--paragraph12 {
      position: absolute;
      height: 20rem;
      text-align: center;
      color: rgba(10, 10, 10, 0.788);
      font-size: 1.8rem;
      border-radius: 6px;
      box-shadow: 0 1.5rem 4rem rgba(10, 10, 10, 0.85);
      font-family: 'Amiri', serif; }

.story {
  margin-top: 10rem;
  margin: 0 auto;
  box-shadow: 0 1.5rem 6rem rgba(10, 10, 10, 0.1);
  width: 75%;
  border-radius: 3px;
  padding: 6rem;
  font-size: 1.8rem;
  transform: skewX(-12deg); }
  .story:hover {
    transform: scale(1.1) skewX(-12deg);
    box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);
    z-index: 20; }
  .story__shape {
    width: 13rem;
    height: 13rem;
    float: left;
    -webkit-shape-outside: circle(50% at 50% 50%);
    shape-outside: circle(50% at 50% 50%);
    clip-path: circle(50% at 50% 50%);
    -webkit-clip-path: circle(50% at 50% 50%);
    transform: translateY(-3rem) skewX(12deg);
    position: relative; }
  .story__image {
    float: left;
    height: 100%;
    width: 100%;
    backface-visibility: hidden;
    transition: all .3s; }
  .story__text {
    float: left; }
  .story__caption {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, 20%);
    color: #fff;
    font-size: 1.7rem;
    text-align: center;
    backface-visibility: hidden;
    opacity: 0;
    transition: all .4s; }
  .story:hover .story__caption:hover {
    opacity: 1;
    transform: translate(-50%, -50%); }
  .story:hover .story__image {
    transform: scale(1.3); }

.form__group:not(:last-child) {
  margin-bottom: 2rem; }

.form__input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block; }
  .form__input:focus {
    outline: none;
    box-shadow: 0 1rem 2rem rgba(10, 10, 10, 0.1);
    border-bottom: 3px solid #002db3; }
  .form__input:focus:invalid {
    border-bottom: 3px solid red; }
  .form__input::-webkit-input-placeholder {
    color: #999; }

.form__label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: .7rem;
  display: block;
  transition: all .3s; }

.form__input:placeholder-shown + .form__label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem); }

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(10, 10, 10, 0.8);
  z-index: 10000;
  transition: all .3s;
  opacity: 0;
  visibility: hidden; }
  .popup:target {
    opacity: 1;
    visibility: visible; }
  .popup__close:link, .popup__close:visited {
    color: #ff6600;
    position: absolute;
    right: 2.5rem;
    font-size: 3rem;
    text-decoration: none;
    display: inline-block;
    line-height: 1;
    transition: all .2s; }
  .popup__close:hover {
    color: black; }
  .popup__content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    background-color: #fff;
    box-shadow: 0 2rem 4rem rgba(10, 10, 10, 0.2);
    border-radius: 3px;
    overflow: hidden;
    display: table;
    opacity: 0;
    transform: translate(-50%, -50%) scale(0.25);
    transition: all .4s .2s; }
  .popup:target .popup__content {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1); }
  .popup__left {
    width: 33.33333333%;
    display: table-cell; }
  .popup__right {
    width: 66.666667%;
    display: table-cell;
    vertical-align: middle;
    padding: 3rem 5rem; }
  .popup__img {
    display: block;
    width: 100%; }
  .popup__text {
    font-size: 1.4rem;
    margin-bottom: 4rem; }

.header {
  height: 90vh;
  background-image: linear-gradient(to right bottom, rgba(10, 230, 94, 0.719), #799F0C), url(../Images/alex.jpg);
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  position: relative; }
  .header__text-box {
    top: 50%;
    right: 50%;
    position: absolute;
    transform: translate(50%, -80%);
    text-align: center; }
  .header__logo-box {
    position: absolute;
    top: -.4rem;
    right: 1rem; }
  .header__logo {
    width: 15rem;
    font-family: 'Rakkas', cursive;
    animation: moveInLeft 3s .75s;
    /* hedi le btn tban mba3d maytesrra l'animation te3 les deux titres*/
    animation-fill-mode: backwards; }

.footer {
  background-color: black;
  color: white;
  font-size: 1.7rem;
  z-index: 1; }

.bar {
  height: 10rem;
  width: 100%;
  background: #ffc600;
  z-index: 2; }

.bar h1 {
  color: black;
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; }

.layouts {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  padding: 2rem;
  text-align: center;
  flex: 1; }

ul, li {
  list-style-type: none; }

.copyright {
  text-align: center;
  padding: 10rem; }

.row {
  max-width: 114rem;
  margin: 0 auto; }
  .row::after {
    content: "";
    display: table;
    clear: both; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 2rem; }
  .row .col-1-of-2 {
    width: calc((100% - 2rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - 2 *2rem) /3); }
  .row .col-1-of-4 {
    width: calc((100% - 3* 2rem) / 4); }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-color: #fff;
  height: 7rem;
  width: 7rem;
  position: fixed;
  top: 6rem;
  left: 6rem;
  border-radius: 50%;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(10, 10, 10, 0.1); }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 6.5rem;
  left: 6.5rem;
  background-image: radial-gradient(#1eee1e, green);
  z-index: 1000;
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  transition: all .8s; }

.navigation__list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: #fff;
  text-decoration: none;
  background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #fff 50%);
  background-size: 220%;
  transition: all .4s; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  transform: translateX(1rem);
  color: black; }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  opacity: 1;
  width: 100%; }

.feature-box {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-image: url(../../Images/marc.jpg), linear-gradient(to left, rgba(10, 235, 47, 0.842), rgba(17, 223, 68, 0.37));
  z-index: 3; }

.quote {
  width: 120rem;
  min-height: 40rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  z-index: 2; }

.quote .box {
  position: relative;
  width: 36rem;
  height: 40rem;
  background: #fff;
  overflow: hidden;
  transition: 0.5s;
  z-index: 2;
  box-sizing: border-box;
  padding: 3rem;
  box-shadow: -1rem 2.5rem 5rem rgba(0, 0, 0, 0.2); }

.quote .box:hover {
  box-shadow: -2rem 5rem 10rem rgba(0, 0, 0, 0.5); }

.bg {
  position: absolute;
  top: 152rem;
  left: 0;
  z-index: 1;
  opacity: 0;
  transition: 0.5s;
  pointer-events: none;
  width: 100%;
  height: 100%; }

.quote .box.box1:hover ~ .bg,
.quote .box.box1:hover {
  opacity: 1;
  background: linear-gradient(#03a9f4, #e91e63); }

.quote .box.box2:hover ~ .bg,
.quote .box.box2:hover {
  opacity: 1;
  background: linear-gradient(#ffc107, #19fd36); }

.quote .box.box3:hover ~ .bg,
.quote .box.box3:hover {
  opacity: 1;
  background: linear-gradient(#ffc107, #e91e63); }

.quote .box:hover p {
  color: #fff; }

.quote .box:hover p {
  margin: 0;
  padding: 0;
  font-size: 2rem; }

.quote .box h2 {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  margin: 0;
  padding: 0;
  font-size: 2rem;
  text-transform: uppercase; }

.quote .box:hover h2 {
  color: #fff; }
