// GRID 

$grid-width  : 114rem;
$gutter-vertical : 8rem;
$gutter-horizontal : 2rem;

//colors

$color-grey-light-1 : rgba(255, 255, 255, 0.336) ;
$color-black : rgba(10, 10, 10, 0.788) ;
$color-background-light: rgba(47, 231, 47, 0.788);
$color-background-dark : rgba(114, 230, 20, 0.644) ;
$color-grey-dark :#777 ;
$color-grey-dark-1 : #999;
$color-white :#fff ;
$color-orange : #ff6600;


//card back 

$color-card-back-side-row-1 : #ff8080;
$color-card-back-side-row-1-1 : #ff0000 ;

$color-card-back-side-row-2 : #668cff;
$color-card-back-side-row-2-1 : #002db3 ;

$color-card-back-side-row-3 : #ffff80;
$color-card-back-side-row-3-3 :  #b3b300 ;





//font sizes

$default-font-sizes : 1.8rem ;